<button (click)="onClick()">Toggle Collapsible Panel Content</button>

<p></p>

<!-- <div style="display: flex; justify-content: center; padding: 50px;"> -->


  <!-- <panel>
    <panel-bar>
      <panel-title>My Panel</panel-title>
    </panel-bar>
    <panel-body>
      <div style="width: 30px; height: 30px; background: orange;"></div>
    </panel-body>
  </panel> -->




  <!-- <div style="width: 100px; height: fit-content;">

    <div style="box-sizing: border-box; height: fit-content; background: red; padding: 5px;">


      <div style="height: 90px; display: flex; align-items: center; box-sizing: border-box; justify-content: center; background: blue;"></div>

    </div>

  </div> -->





   <!-- <draggable-panel>
    <draggable-panel-bar>
      <draggable-panel-title>My Draggable Panel</draggable-panel-title>
      <button-group width="80px">
        <draggable-panel-min-button></draggable-panel-min-button>
        <draggable-panel-max-button [icon]="maxButtonIcon" [tooltip]="maxButtonTooltip"></draggable-panel-max-button>
        <draggable-panel-x-button></draggable-panel-x-button>
      </button-group>
    </draggable-panel-bar>
    <draggable-panel-body>
      <div style="width: 30px; height: 30px; background: orange;"></div>
    </draggable-panel-body>
  </draggable-panel> -->




 <collapsible-panel>
    <collapsible-panel-bar>
      <!-- <collapsible-panel-arrow></collapsible-panel-arrow>-->
      <collapsible-panel-title>My Collapsible Panel</collapsible-panel-title> 
    </collapsible-panel-bar>
    <collapsible-panel-body>
      <div style="width: 30px; height: 30px; background: orange;"></div>

      @if (moreContent) {
        <div style="width: 30px; height: 30px; background: orange;"></div>
      }
    </collapsible-panel-body>
  </collapsible-panel>




<!-- </div> -->