<!------------------------------------------------------------GLOBAL POSITION (Directive)---------------------------------------------------------------------->

<button (click)="openMyComponent()">Open</button>

<ng-template cdkPortal>
    <my-component></my-component>
</ng-template>





<!------------------------------------------------------------GLOBAL POSITION (Template Portal)---------------------------------------------------------------------->

<!-- <button (click)="openMyComponent()">Open</button>

<ng-template #myTemplate>
    <my-component></my-component>
</ng-template> -->





<!------------------------------------------------------------GLOBAL POSITION (Component Portal)---------------------------------------------------------------------->

<!-- <button (click)="openMyComponent()">Open</button> -->





<!------------------------------------------------------------CONNECTED POSITION (Directive)---------------------------------------------------------------------->

<!-- <button #myButton
        cdkOverlayOrigin
        (click)="myComponentOpen = !myComponentOpen">
    Open
</button>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="myButton"
             [cdkConnectedOverlayOpen]="myComponentOpen">

    <my-component></my-component>
</ng-template> -->





<!------------------------------------------------------------CONNECTED POSITION (Template Portal)---------------------------------------------------------------------->

<!-- <button #myButton (click)="openMyComponent()">Open</button>

<ng-template #myTemplate>
    <my-component></my-component>
</ng-template> -->





<!-------------------------------------------------------------CONNECTED POSITION (Component Portal)--------------------------------------------------------------------->

<!-- <button #myButton (click)="openMyComponent()">Open</button> -->