:root {

    /* ===================== (DIMENSIONS) ===================== */

    /* Panel */
    --draggable-panel-width: 400px;
    --draggable-panel-border-radius: 7px;
    --draggable-panel-drop-shadow: 7px 7px 10px rgba(0, 0, 0, 0.12);
    /* --draggable-panel-height: 400px; (optional) */


    /* Panel Bar */
    --draggable-panel-bar-height: 28px;
    --draggable-panel-bar-cursor: default;
    --draggable-panel-bar-border-width: 1px;
    --draggable-panel-bar-padding: 0 7px 0 10px;
    --draggable-panel-bar-hover-cursor: pointer;
    --draggable-panel-bar-justify-content: space-between;
    --draggable-panel-bar-drop-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);


    /* Panel Title */
    --draggable-panel-title-font-size: 14px;
    --draggable-panel-title-font-weight: normal;
    --draggable-panel-title-font-family: Arial, Helvetica, sans-serif;



    /* Panel Body */
    --draggable-panel-body-padding: 10px;
    --draggable-panel-body-border-width: 1px;


    


    /* ===================== (COLORS) ===================== */

    /* Panel Bar */
    --draggable-panel-bar-border-color: linear-gradient(#cecece, #a1a1a1);
    --draggable-panel-bar-background-color: linear-gradient(#e0e0e0, #c9c9c9);


    /* Panel Title */
    --draggable-panel-title-text-color: #404040;


    /* Panel Body */
    --draggable-panel-body-border-color: #c5c5c5;
    --draggable-panel-body-background-color: #e0e0e0;





    /* ===================== (HOVER COLORS) ===================== */

    /* Panel Bar */
    --draggable-panel-bar-border-hover-color: linear-gradient(#c6c6c6, #9c9c9c);
    --draggable-panel-bar-background-hover-color: linear-gradient(rgb(218, 218, 218), rgb(195, 195, 195));
        // /* X Button */
        // --draggable-panel-x-button-icon-color-on-panel-bar-hover: rgb(58, 58, 58);
        // --draggable-panel-x-button-border-color-on-panel-bar-hover: linear-gradient(rgb(204, 204, 204), rgb(175, 175, 175));
        // --draggable-panel-x-button-background-color-on-panel-bar-hover: linear-gradient(rgb(228, 228, 228), rgb(200, 200, 200));
        // /* Max Button */
        // --draggable-panel-max-button-icon-color-on-panel-bar-hover: rgb(58, 58, 58);
        // --draggable-panel-max-button-border-color-on-panel-bar-hover: linear-gradient(rgb(204, 204, 204), rgb(175, 175, 175));
        // --draggable-panel-max-button-background-color-on-panel-bar-hover: linear-gradient(rgb(228, 228, 228), rgb(200, 200, 200));
        // /* Min Button */
        // --draggable-panel-min-button-icon-color-on-panel-bar-hover: rgb(58, 58, 58);
        // --draggable-panel-min-button-border-color-on-panel-bar-hover: linear-gradient(rgb(204, 204, 204), rgb(175, 175, 175));
        // --draggable-panel-min-button-background-color-on-panel-bar-hover: linear-gradient(rgb(228, 228, 228), rgb(200, 200, 200));
        

    /* Panel Title */
    --draggable-panel-title-text-hover-color: #000000;




    
    /* ===================== (ACTIVE COLORS) ===================== */

    /* Panel Bar */
    --draggable-panel-bar-border-active-color: linear-gradient(#bcbcbc, #969696);
    --draggable-panel-bar-background-active-color: linear-gradient(#d0d0d0, #bbbbbb);


    /* Panel Title */
    --draggable-panel-title-text-hover-color: #000000;
}