:root {

    /* ===================== (DIMENSIONS) ===================== */

    /* Panel */
    --panel-width: 400px;
    --panel-border-radius: 7px 7px 7px 7px;
    --panel-drop-shadow: 8px 8px 10px rgba(0, 0, 0, 0.13);
    /* --panel-height: 400px; (optional) */


    /* Panel Bar */
    --panel-bar-height: 28px;
    --panel-bar-cursor: default;
    --panel-bar-border-width: 1px;
    --panel-bar-padding: 0 7px 0 10px;
    --panel-bar-hover-cursor: pointer;
    --panel-bar-drop-shadow-blur: 2px;
    --panel-bar-drop-shadow-height: 2px;
    /* --panel-bar-justify-content: space-between; */
    --panel-bar-drop-shadow-color: rgba(0, 0, 0, 0.2);


    /* Panel Title */
    --panel-title-font-size: 14px;
    --panel-title-font-weight: normal;
    --panel-title-font-family: Arial, Helvetica, sans-serif;



    /* Panel Bar Buttons */
    --panel-bar-button-radius: 5px;
    --panel-bar-button-width: 20px;
    --panel-bar-button-height: 20px;
    --panel-bar-button-cursor: default;
    --panel-bar-button-hover-cursor: pointer;
    --panel-bar-button-disabled-opacity: 0.3;



    /* Panel Body */
    --panel-body-padding: 10px;
    --panel-body-border-width: 0 1px 1px 1px;




    /* ===================== (COLORS) ===================== */

    /* Panel Bar */
    --panel-bar-border-color: linear-gradient(#cecece, #a1a1a1);
    --panel-bar-background-color: linear-gradient(#e0e0e0, #c9c9c9);


    /* Panel Title */
    --panel-title-text-color: #404040;


    /* Panel Body */
    --panel-body-border-color: #c5c5c5;
    --panel-body-background-color: #e0e0e0;
}